/* critical:start */
.wrapper-border {
  position: relative;
}

.wrapper-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(
    90deg,
    theme('colors.pink.400') 15.36%,
    theme('colors.pink.500') 45.09%
  );
  transform: rotate(180deg);
}

.wrapper-border::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(
    90deg,
     theme('colors.pink.400') 15.36%,
     theme('colors.pink.500') 45.09%
  );
}
/* critical:end */